*.log
tmp/
.vscode/
*.swp
playbooks/roles/apiserver/files/kubernetes-key.pem
playbooks/roles/apiserver/files/kubernetes.csr
playbooks/roles/apiserver/files/kubernetes.pem
playbooks/roles/apiserver/files/proxy-client-key.pem
playbooks/roles/apiserver/files/proxy-client.csr
playbooks/roles/apiserver/files/proxy-client.pem
playbooks/roles/cert/files/ca-key.pem
playbooks/roles/cert/files/ca.csr
playbooks/roles/cert/files/ca.pem
playbooks/roles/controller-manager/files/kube-controller-manager-key.pem
playbooks/roles/controller-manager/files/kube-controller-manager.csr
playbooks/roles/controller-manager/files/kube-controller-manager.kubeconfig
playbooks/roles/controller-manager/files/kube-controller-manager.pem
playbooks/roles/etcd/files/etcd-key.pem
playbooks/roles/etcd/files/etcd.csr
playbooks/roles/etcd/files/etcd.pem
playbooks/roles/flannel/files/flanneld-key.pem
playbooks/roles/flannel/files/flanneld.csr
playbooks/roles/flannel/files/flanneld.pem
playbooks/roles/kube-proxy/files/kube-proxy-key.pem
playbooks/roles/kube-proxy/files/kube-proxy.csr
playbooks/roles/kube-proxy/files/kube-proxy.kubeconfig
playbooks/roles/kube-proxy/files/kube-proxy.pem
playbooks/roles/kube-scheduler/files/kube-scheduler-key.pem
playbooks/roles/kube-scheduler/files/kube-scheduler.csr
playbooks/roles/kube-scheduler/files/kube-scheduler.kubeconfig
playbooks/roles/kube-scheduler/files/kube-scheduler.pem
playbooks/roles/kubectl/files/admin-key.pem
playbooks/roles/kubectl/files/admin.csr
playbooks/roles/kubectl/files/admin.pem
playbooks/roles/kubectl/files/kubectl.kubeconfig
playbooks/roles/dashboard/files/dashboard.kubeconfig
