apiVersion: componentconfig/v1alpha1
kind: KubeProxyConfiguration
bindAddress: {{ ansible_host }}
clientConnection:
  kubeconfig: /etc/kubernetes/kube-proxy.kubeconfig
clusterCIDR: {{ CLUSTER_CIDR }}
healthzBindAddress: {{ ansible_host }}:10256
hostnameOverride: {{ inventory_hostname }}
metricsBindAddress: {{ ansible_host }}:10249
iptables:
  masqueradeAll: false
  masqueradeBit: 14
  minSyncPeriod: 0s
  syncPeriod: 30s
mode: "iptables"